<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        
        body {
            background: #FDC830;
            background: -webkit-linear-gradient(to right, #F37335, #FDC830);
            background: linear-gradient(to right, #F37335, #FDC830);
        }
    </style>
</head>
<body>
<form class="form" method="POST" action="{% url 'project' %}">
    {% csrf_token %}
    <h2>Project Profile</h2>
    <bold>
        Welcome, {{ request.session.user }}!
    </bold>
    <div class="form-group">
        <label for="name">Project Name:</label>
        <br>
        <div class="relative">
            <input name ="project_name" class="form-control" id="name" type="text" required="" autofocus=""
                   title="Username should only contain letters. e.g. Piyush Gupta" autocomplete=""
                   placeholder="Type The Project name here...">
            <i class="fa fa-user"></i>
        </div>
    </div><br>
    <div class="form-group">
        <label for="name">Requirement Received :</label>
        <br>
        <div class="relative">
            <input name ="requirement_recieved" class="form-control" id="name" type="text" required="" autofocus=""
                   title="Username should only contain letters. e.g. Ayush Yadav" autocomplete=""
                   placeholder="Type The Requirement Received here...">
            <i class="fa fa-inbox"></i>
        </div>
    </div><br>
    <div class="form-group">
        <label for="date">Date:</label>
        <div class="relative">
            <input name="date" pattern="\d{2}-\d{2}-\d{4}"  class="form-control" id="date" type="date" required="">
            <i class="fa fa-calendar"></i>
        </div>
    </div><br>
    <div class="form-group">
        <label for="technology">Technology:</label>
        <div class="relative">
            <input name="technology" class="form-control" id="technology" type="text" required=""
                   placeholder="Type The Technology...">
            <i class="fa fa-inbox"></i>
        </div>
    </div><br>
    <div class="form-group">
        <label for="resume">Resume Shared:</label>
        <div class="relative">
            <input name="resume_shared" class="form-check-input" id="resume" value="YES" type="radio">
            <label class="form-check-label" for="resume">Yes</label>
            <input name="resume_shared" class="form-check-input" id="resume" value="NO" type="radio">
            <label class="form-check-label" for="resume">NO</label>
        </div>
    </div><br>
    {% comment %} <div class="form-group">
        <label for="attachment">Attachment:</label>
        <div class="relative">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-default">
                        Browse&hellip; <input type="file" style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" class="form-control" required="" placeholder="Attachment..." readonly>
                <i class="fa fa-link"></i>
            </div>
        </div>
    </div> {% endcomment %}

    <div class="tright">
        <button class="movebtn movebtnre" type="reset"><i class="fa fa-fw fa-refresh"></i> Reset </button>
        <button class="movebtn movebtnsu" type="submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button>
    </div>
</form>

<div class="thanks" style="display: none;">
    <h4>Thank you!</h4>
    <p><small>Your message has been successfully sent.</small></p>
</div>

<script src="{% static 'js/project.js' %}" async defer></script>
</body>
</html>
