<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    {% comment %} <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    /> {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <style>
      body {
        background: navajowhite;
      }
      .form-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <form class="form" method="POST" action="{% url 'project' %}">
      {% csrf_token %}
      <div class="form-header">
        <h2>Project Profile</h2>
        <a class="movebtn movebtnsu" style='text-decoration:none;' href="{% url 'dashboard'  %}">Dashboard</a>
      </div>
      <bold> Welcome, {{ request.session.user }}! </bold><br /><br />
      <div class="form-group">
        <label for="name">Project Name:</label>
        <br />
        <div class="relative">
          <input
            name="project_name"
            class="form-control"
            id="name"
            type="text"
            required=""
            autofocus=""
            autocomplete=""
            placeholder="Type The Project name here..."
          />
          <i class="fa fa-user"></i>
        </div>
      </div>
      <br />
      <fieldset>
        <legend><span>Requirement Received</span></legend>
        <div class="form-group">
          <label for="date">Date:</label>
          <div class="relative">
            <input
              name="date"
              class="form-control"
              id="date"
              type="date"
              required=""
            />
            <i class="fa fa-calendar"></i>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="technology">Technology:</label>
          <div class="relative">
            <textarea
              class="form-control"
              name="technology"
              rows="7"
              cols="40"
              required=""
              placeholder="Enter project technology..."
            >
</textarea
            >
            <i class="fa fa-phone"></i>
          </div>
        </div>

      </fieldset><br />
      <div class="form-group">
        <label for="resume_shared">Resume Shared:</label>
        <div class="radio-inline " style='flex-direction:column;'>
            <label class="radio-label ">
                <input type="radio" name="resume_shared" value="yes" required="">
                <span class="radio-custom"></span>
                <span class="radio-text">Yes</span>
                
            </label>
            <label class="radio-label">
                <input type="radio" name="resume_shared" value="no" required="">
                <span class="radio-custom"></span>
                <span class="radio-text">No</span>
            </label>
        </div>
    </div><br>
      
      <div class="tright">
        <button class="movebtn movebtnre" type="reset">
          <i class="fa fa-fw fa-refresh"></i> Reset
        </button>
        <button class="movebtn movebtnsu" type="submit">
          Submit <i class="fa fa-fw fa-paper-plane"></i>
        </button>
      </div>
    </form>

    <script src="{% static 'js/project.js' %}" async defer></script>
  </body>
</html>
