<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    {% comment %} <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: navajowhite;
        }
        
        .form-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    {% if errors %}
                <div class="alert alert-danger">
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
    <form class="form" method="POST" action="{% url 'round2' project_id=project_id %}" enctype="multipart/form-data">

        {% csrf_token %}
            
    <div class="form-header">
        <h2>Round 2 Profile</h2>
        <a class="movebtn movebtnsu" style='text-decoration:none;' href="{% url 'dashboard'  %}">Dashboard</a>
    </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <br>
            <div class="relative">
                <input name="date" class="form-control" id="date" type="date" autofocus="" autocomplete="" placeholder="Select date..." value="{{ round2_data.date|default_if_none:''|date:'Y-m-d'}}">
                <i class="fa fa-calendar"></i>
            </div><br>
        </div>
        <div class="form-group">
            <label for="screenshot_shared">Screenshot Shared:</label>
            <div class="relative">
                <input name="screenshot_shared" class="form-control" id="screenshot_shared" type="file" value="{{ round2_data.screenshot_shared }}">
                <i class="fa fa-file"></i>
            </div>
        </div><br>
        <div class="form-group">
            <label for="our_review">Our Review:</label>
            <div class="relative">
                <textarea rows='5' cols="40" name="our_review" class="form-control" id="our_review"  placeholder="Type your review...">{{ round2_data.our_review }}</textarea>
                <i class="fa fa-inbox"></i>
            </div>
        </div><br>
        <div class="form-group">
        <div class="form-group">
            <label for="client_review">Client Review:</label>
            <div class="relative">
                <textarea name="client_review" rows='5' cols="40" class="form-control" id="our_review"  placeholder="Type your review...">value="{{ round2_data.client_review }}</textarea>
                <i class="fa fa-inbox"></i>
            </div>
        </div><br>

        <div class="tright">
            <button class="movebtn movebtnre" type="reset"><i class="fa fa-fw fa-refresh"></i> Reset </button>
            <button class="movebtn movebtnsu" type="submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button>
        </div>
    </form>

    
    <script src="{% static 'js/project.js' %}" async defer></script>
</body>
</html>
